*{
  margin: 0;
  padding: 0;
}
.contaner{
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  /* background-color: antiquewhite; */
  display: flex;
}
.firstbox{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fa9191;
 }
.heading{
  color:white;
  position: relative;
  margin:2%;
  width: 30%;
  flex-wrap: wrap;
  /* background-color: bisque; */
}
.navbar{
  width: 70%;
  /* background-color: aqua; */
  display: flex;
  position: relative;
  margin:2%;
  flex-wrap: wrap;
}
 .navbar ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: 1.5em;
  flex-wrap: wrap;
 }
 .navbar ul li{
  list-style: none;
  padding-left: 50px;
 }
 #ham-menu {
  display: none;
}
/* .navbar ul.active {
  left: 0;
} */
@media(max-width:900px) {
  #ham-menu {
      display: block;
      color: #ffffff;
      font-size: 3.2rem;
      font-size: 200%;
      margin-top: 3%;
    }
   
  .navbar{
      width: auto;
      position: relative;
  }
  .navbar  ul{
      background-color: rgb(188, 235, 190);
        position: fixed;
        left: 100vw;
        top: 49.6px;
        width: 100vw;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 2s;
        z-index: 10;
   }
  }
.img_div{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img_div img{
  width: 300px;
  height: 400px;
  /* flex-wrap: wrap; */
  box-shadow: 10px 10px 50px gray;
}
.mainGreeting{
  width: 100%;
}
.mainGreeting .greetingStyle{
  width: 50%;
  justify-items: center;
}